<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name="us.webmy.coresdkdemo.App"
        android:allowBackup="true"
        android:dataExtractionRules="@null"
        android:fullBackupContent="@null"
        android:icon="@drawable/ic_logo"
        android:label="Demo WebMY"
        android:logo="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/BaseTheme"
        tools:replace="android:allowBackup,android:dataExtractionRules,android:fullBackupContent">

        <activity
            android:name="us.webmy.coresdkdemo.MainActivity"
            android:exported="true"
            android:label="WebMY Demo App">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>